# Big Data Platforms - Group Project

## Yelp Graph Network Analysis and Recommender

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import abs, col, to_timestamp, repeat, lit, split,explode
from math import radians, cos, sin, asin, sqrt

In [2]:
spark = SparkSession.builder.enableHiveSupport().appName('Graph').getOrCreate()

sc = spark.sparkContext

In [3]:
from graphframes import *

## Load and Filter Data

Load perviously filtered Austin businesses dataset along with the business.json dataset for attribute enhacement.

In [4]:
data = spark.read.option("multiLine", "true").csv("big-data/austin_reviews", header = True)
businesses = spark.read.json("big-data/yelp_academic_dataset_business.json")

In [22]:
data.count()

1425227

We'll narrow down our dataset to reviews in Austin, TX from year 2019 to 2021. This will improve recommendation relevance and reduce computational load.

In [5]:
timestamp_type = ["date"]

for c in timestamp_type:
    data = data.withColumn(c,to_timestamp(c, "yyyy-MM-dd HH:mm:ss"))

In [6]:
data = data.filter(data.date > "2019-01-01")

We still have 268,362 reviews present in our dataset. The reviews will represent one type of edge in our graph. We'll build out our edge dataframe later.

In [34]:
data.count()

268362

## Create Node Dataframe

There are two types of nodes in our graph:
    
    1. Businesses
    2. Users
    
Each node type has unique attributes of interest:

- Business: address, categories, hours, name, geocoordinates
- User: for simplicity, we will not track attributes of the user as it's not needed for current use case

Next, we'll find the unique business_ids and user_ids. Each unique id represents a node in our graph.

In [7]:
business_id_df = data.select("business_id").distinct()
user_id_df = data.select("user_id").distinct()

In [ ]:
#data.select("business_id", "address", "categories", "hours", "name", "latitude", "longitude").distinct()

Let's see how many unique users we have:

In [18]:
user_id_df.count()

126744

And unique businesses:

In [13]:
business_id_df.count()

15834

To help identify the type of node we'll add a new column to each dataframe. A 0 will represent a business type node and a 1 will represnt a user type node.

In [8]:
#add column type for business and users
business_id_df = business_id_df.withColumn("business", lit(0))
user_id_df = user_id_df.withColumn("customer", lit(1))

Next, we'll select the specific business attributes we want to map to each business type node. We'll do a left join to map these attributes back to our unique business_id dataset.

In [9]:
#select attributes to add to business type nodes
businesses = businesses.select("business_id", "address", "categories", "hours", "name", "latitude", "longitude")

In [10]:
business_id_w_attributes = business_id_df.join(businesses, on = 'business_id', how = "left")

In [105]:
business_id_w_attributes.count()

15834

Finally, we need to add the business attribute columns to our user_id dataframe. These attributes will be populated with None. By adding these columns to the user_id dataframe, we can do a union to combine our two node type dataframes into a single dataframe.

In [41]:
user_id_df.show(5)

+--------------------+--------+
|             user_id|customer|
+--------------------+--------+
|x4Y6DZHI9Ad2R-fmm...|       1|
|vJbLbl9cqKwHGARtD...|       1|
|jOhTdcWUVNgwsuIiP...|       1|
|oBUZgRiHQeN6pgDKy...|       1|
|trq73Ax5yXpCRopNC...|       1|
+--------------------+--------+
only showing top 5 rows

In [11]:
cols = ["address", "categories", "hours", "name", "latitude", "longitude"]   

for c in cols:
    user_id_df = user_id_df.withColumn(c, lit(None))

Let's check that our two node type dataframes have the same columns before we do a union.

In [15]:
user_id_df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- customer: integer (nullable = false)
 |-- address: null (nullable = true)
 |-- categories: null (nullable = true)
 |-- hours: null (nullable = true)
 |-- name: null (nullable = true)
 |-- latitude: null (nullable = true)
 |-- longitude: null (nullable = true)

In [16]:
business_id_w_attributes.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- business: integer (nullable = false)
 |-- address: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- name: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)

Let's create a single dataframe that will contain our nodes for our graph.

In [12]:
#union users and businesses into a node dataframe
node = business_id_w_attributes.union(user_id_df)

In [13]:
#rename columns
node = node.withColumnRenamed("business_id", "id")
node = node.withColumnRenamed("business", "type")

In [31]:
node.show(5)

+--------------------+----+--------------------+--------------------+--------------------+--------------------+-------------+--------------+
|                  id|type|             address|          categories|               hours|                name|     latitude|     longitude|
+--------------------+----+--------------------+--------------------+--------------------+--------------------+-------------+--------------+
|-ZzsPlaAgwO3yt29u...|   0|                    |Professional Serv...|[9:0-17:0, 9:0-17...|      ATX Architects|   30.3911673|   -97.7051165|
|-x9y3f2IXWnWhZyeQ...|   0|      5201 McDade Dr|Arts & Entertainm...|[10:0-19:0, 10:0-...|   Party Boat Austin|    30.255226|    -97.832213|
|1P0gza0EoFe-mQ026...|   0|3201 Bee Caves Rd...|Fitness & Instruc...|[5:15-18:30, 5:15...|F45 Training West...|    30.272058|    -97.800736|
|1m3r_ABHzUvm0H9vQ...|   0|2600 Lake Austin ...|Apartments, Home ...|[9:0-18:0, 0:0-0:...|The Boulevard at ...|    30.280437|    -97.773594|
|2b5S-XLh6gcUGHPad...|   0|2727 Exposition B...|Fashion, Shopping...|[8:0-20:0, 0:0-0:...|  Tarrytown Pharmacy|30.3036351014|-97.7639331594|
+--------------------+----+--------------------+--------------------+--------------------+--------------------+-------------+--------------+
only showing top 5 rows

### Create Edges Dataframe

In our graph, there will be two types of edges:

1. User leaves a rating for a business
2. User is connected to another user as a friend

Each edge type will carry with it attributes of interest:

- When a user leaves a rating for a business, we'll want the date of the review and the number of stars. We could also keep additional attributes such as the review text, number of upvotes, ect. We'll only grab the attributes used down stream in our current analysis. 

- A user to user connection as a friend does not have any attribute information available in the dataset. 

To create our edge dataframe, we'll need to pre-process the user.json file, which contains user information (including users friends list). 

Our Austin reviews dataset contains all of the user-business reviews already. We just need to rename appropriate columnas as the source/destination and select the attributes to track with each review.

In [14]:
#create user to business edges dataframe
user_business = data.select("business_id", "date", "review_id", "text", "stars", "user_id")

user_business = user_business.withColumn("src", user_business["user_id"])
user_business = user_business.withColumn("dst", user_business["business_id"])

user_business = user_business.select('dst', 'date', 'review_id', "text", "stars", "src")

Next, we'll pre-process the user.json file to find user to user edges.

In [40]:
#put user dataset into HDFS
!hdfs dfs -put /home/aleonard2/yelp_academic_dataset_user.json big-data

WARNING: log4j.properties is not found. HADOOP_CONF_DIR may be incomplete.
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=512M; support was removed in 8.0

In [15]:
users = spark.read.json("big-data/yelp_academic_dataset_user.json")

In [22]:
users.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

We already identfied our unique users above. We'll do a left join on this dataframe with the users.json data, appending the needed "friends" column to each user.

In [16]:
users_edge = user_id_df.join(users, on = 'user_id', how = "left")

In [37]:
users_edge.count()

126744

In [17]:
users_edge = users_edge.select("user_id", "friends")

In [39]:
users_edge.select("user_id","friends").show(1, truncate = False)

+----------------------+----------------------------------------------------------------------------------------------+
|user_id               |friends                                                                                       |
+----------------------+----------------------------------------------------------------------------------------------+
|-0Ji0nOyFe-4yo8BK4aRLA|EmdUN-cFy25hTj2lcD4Ryw, MXaSUovIC5U8d4GYzi2eoQ, c7sqkbx5Y_KXNGsI3i4GYw, gkXdOxE7TxTPIgon21miUg|
+----------------------+----------------------------------------------------------------------------------------------+
only showing top 1 row

Each friend's user_id is seperated by a comma. We'll transform this into an array and explode to get user_id to friend_id for each user to user connection.

In [18]:
users_friends = users_edge.select("user_id", split(col("friends"),",").alias("FriendArray")) \
    .drop("friends")

In [19]:
#remove users with no friends, explode rest
user_friends_expanded = users_friends.select(users_friends.user_id,explode(users_friends.FriendArray).alias("friend_id"))
user_friends_expanded.show(5, truncate = False)

+----------------------+-----------------------+
|user_id               |friend_id              |
+----------------------+-----------------------+
|-0Ji0nOyFe-4yo8BK4aRLA|EmdUN-cFy25hTj2lcD4Ryw |
|-0Ji0nOyFe-4yo8BK4aRLA| MXaSUovIC5U8d4GYzi2eoQ|
|-0Ji0nOyFe-4yo8BK4aRLA| c7sqkbx5Y_KXNGsI3i4GYw|
|-0Ji0nOyFe-4yo8BK4aRLA| gkXdOxE7TxTPIgon21miUg|
|-25JZ2VjrGZfXR8EaW8vBA|Q-DDwor2okiMIuM5mVewRA |
+----------------------+-----------------------+
only showing top 5 rows

We now have a row for each user to user connection. Finally, we create our source/destination columns and add attributes columns from our user to business edges to allow for union of the two edge dataframes.

In [20]:
user_friends_expanded= user_friends_expanded.withColumn("src", user_friends_expanded["user_id"])
user_friends_expanded = user_friends_expanded.withColumn("dst", user_friends_expanded["friend_id"])

In [21]:
cols = ["date", "review_id", "text", "stars"]   

for c in cols:
    user_friends_expanded = user_friends_expanded.withColumn(c, lit(None))

In [22]:
#select needed columns and reorder to line up with user-business edge df
user_friends_expanded = user_friends_expanded.select('dst', 'date', 'review_id', "text", "stars", "src")

We'll add a connection type column to each dataframe to label the type of edge: 0 for user to business and 1 for user to user.

In [23]:
#add type of edge connection
user_business = user_business.withColumn("connection_type", lit(0))
user_friends_expanded = user_friends_expanded.withColumn("connection_type", lit(1))

Let's check that our schemas line up before doing a union.

In [62]:
user_friends_expanded.printSchema()

root
 |-- dst: string (nullable = true)
 |-- date: null (nullable = true)
 |-- review_id: null (nullable = true)
 |-- text: null (nullable = true)
 |-- stars: null (nullable = true)
 |-- src: string (nullable = true)
 |-- connection_type: integer (nullable = false)

In [60]:
user_business.printSchema()

root
 |-- dst: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- review_id: string (nullable = true)
 |-- text: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- src: string (nullable = true)
 |-- connection_type: integer (nullable = false)

In [24]:
edge_df = user_business.union(user_friends_expanded)

In [63]:
edge_df.dtypes

[('dst', 'string'),
 ('date', 'timestamp'),
 ('review_id', 'string'),
 ('text', 'string'),
 ('stars', 'string'),
 ('src', 'string'),
 ('connection_type', 'int')]

In [77]:
edge_df.show(5)

+--------------------+-------------------+--------------------+--------------------+-----+--------------------+
|                 dst|               date|           review_id|                text|stars|                 src|
+--------------------+-------------------+--------------------+--------------------+-----+--------------------+
|-0wZIJnbYSstEGj3u...|2019-11-14 22:39:24|rrL1-bh6tMNSMKvx5...|This agent doesn'...|  1.0|gjZ-HBBJ2sNKMwL8x...|
|-LqsFXfZDziytsnVq...|2019-02-04 22:35:18|TKlL65VgqGGVpGnvz...|The Purple Fig ha...|  5.0|707raSOaJBZpof1UB...|
|-LqsFXfZDziytsnVq...|2020-12-02 17:29:38|pYAlyWozWYpTA5NqS...|Still loving the ...|  5.0|m98Y2CbHYTjSoPheE...|
|-LqsFXfZDziytsnVq...|2021-01-07 23:13:08|bwGQKkJOOTM4JGx-b...|I have been sitti...|  2.0|WTpA4GEULakoL_NLn...|
|-LqsFXfZDziytsnVq...|2020-09-15 20:07:24|cg2NLaXFycGGGk1VZ...|Id like to start ...|  1.0|8kUlGcK7l2Yc7sKX0...|
+--------------------+-------------------+--------------------+--------------------+-----+--------------------+
only showing top 5 rows

## Create Graph - Basic Analysis

In [25]:
#build Graph - GraphFrame(vertices, edges)
graph = GraphFrame(node, edge_df)

In [81]:
graph.vertices.show(5)

+--------------------+----+--------------------+--------------------+--------------------+--------------------+-------------+--------------+
|                  id|type|             address|          categories|               hours|                name|     latitude|     longitude|
+--------------------+----+--------------------+--------------------+--------------------+--------------------+-------------+--------------+
|-ZzsPlaAgwO3yt29u...|   0|                    |Professional Serv...|[9:0-17:0, 9:0-17...|      ATX Architects|   30.3911673|   -97.7051165|
|-x9y3f2IXWnWhZyeQ...|   0|      5201 McDade Dr|Arts & Entertainm...|[10:0-19:0, 10:0-...|   Party Boat Austin|    30.255226|    -97.832213|
|1P0gza0EoFe-mQ026...|   0|3201 Bee Caves Rd...|Fitness & Instruc...|[5:15-18:30, 5:15...|F45 Training West...|    30.272058|    -97.800736|
|1m3r_ABHzUvm0H9vQ...|   0|2600 Lake Austin ...|Apartments, Home ...|[9:0-18:0, 0:0-0:...|The Boulevard at ...|    30.280437|    -97.773594|
|2b5S-XLh6gcUGHPad...|   0|2727 Exposition B...|Fashion, Shopping...|[8:0-20:0, 0:0-0:...|  Tarrytown Pharmacy|30.3036351014|-97.7639331594|
+--------------------+----+--------------------+--------------------+--------------------+--------------------+-------------+--------------+
only showing top 5 rows

In [30]:
graph.edges.show(5)

+--------------------+-------------------+--------------------+--------------------+-----+--------------------+---------------+
|                 dst|               date|           review_id|                text|stars|                 src|connection_type|
+--------------------+-------------------+--------------------+--------------------+-----+--------------------+---------------+
|-0wZIJnbYSstEGj3u...|2019-11-14 22:39:24|rrL1-bh6tMNSMKvx5...|This agent doesn'...|  1.0|gjZ-HBBJ2sNKMwL8x...|              0|
|-LqsFXfZDziytsnVq...|2019-02-04 22:35:18|TKlL65VgqGGVpGnvz...|The Purple Fig ha...|  5.0|707raSOaJBZpof1UB...|              0|
|-LqsFXfZDziytsnVq...|2020-12-02 17:29:38|pYAlyWozWYpTA5NqS...|Still loving the ...|  5.0|m98Y2CbHYTjSoPheE...|              0|
|-LqsFXfZDziytsnVq...|2021-01-07 23:13:08|bwGQKkJOOTM4JGx-b...|I have been sitti...|  2.0|WTpA4GEULakoL_NLn...|              0|
|-LqsFXfZDziytsnVq...|2020-09-15 20:07:24|cg2NLaXFycGGGk1VZ...|Id like to start ...|  1.0|8kUlGcK7l2Yc7sKX0...|              0|
+--------------------+-------------------+--------------------+--------------------+-----+--------------------+---------------+
only showing top 5 rows

In [50]:
#How many nodes?
graph.vertices.count()

142578

In [51]:
graph.edges.count()

268362

In [94]:
#Most connected nodes
graph.degrees.orderBy("degree", ascending=False).show(10, truncate = False)

+----------------------+------+
|id                    |degree|
+----------------------+------+
|None                  |54543 |
|hizGc5W1tBHPghM5YKCAtg|9233  |
|djxnI8Ux8ZYQJhiOQkrRhA|8786  |
|3zxy3LVBV3ttxoYbY4rQ8A|7008  |
|NfU0zDaTMEQ4-X9dbQWd9A|6851  |
|8I7DLn7dPu76HQImdoqzQg|6795  |
|3mNz5nQFTIBQm0oU5mBR0w|6778  |
|AHRrG3T1gJpHvtpZ-K0G_g|6612  |
|DOj9NanlJP3xntULCy5Uow|6423  |
|GFyA9ULGAeD-xZEPto2y7A|6250  |
+----------------------+------+
only showing top 10 rows

In [95]:
users.select("user_id", "user_name").filter(users.user_id == "hizGc5W1tBHPghM5YKCAtg").show(truncate = False)

+----------------------+---------+
|user_id               |user_name|
+----------------------+---------+
|hizGc5W1tBHPghM5YKCAtg|Katie    |
+----------------------+---------+

In [86]:
#most connected nodes
connectionCount = graph.edges.groupBy("src", "dst").count().orderBy("count", ascending = False)

connectionCount.show(5, truncate= False)

+----------------------+----------------------+-----+
|src                   |dst                   |count|
+----------------------+----------------------+-----+
|AqzHptL1OCi4ELlXKCfEpg|07vsMfjupodO4am9KE46xQ|12   |
|RpwQrvDNsKcc2WTVR9wtrA|ezOGxXnOE4ZoBnEkDTAvww|8    |
|Lu4-NKrpJbSBpUcZPogovg|u5ztKk_mmNKyhRHBFRgZuQ|8    |
|wLUTJQJL64IPHI55K39Ykw|v0N7mWzaekhyNi0c93JEVg|7    |
|Lu4-NKrpJbSBpUcZPogovg|YDawSup__BY0EekWbA9T6w|7    |
+----------------------+----------------------+-----+
only showing top 5 rows

In [93]:
users.select("user_id", "user_name").filter(users.user_id == "AqzHptL1OCi4ELlXKCfEpg").show(truncate = False)

+--------------------+---------+
|             user_id|user_name|
+--------------------+---------+
|AqzHptL1OCi4ELlXK...| Victoria|
+--------------------+---------+

In [90]:
data.select("business_id", "name").filter(data.business_id == "07vsMfjupodO4am9KE46xQ").show(1, truncate = False)

+----------------------+------------------------------+
|business_id           |name                          |
+----------------------+------------------------------+
|07vsMfjupodO4am9KE46xQ|Waterloo Ice House Burnet Road|
+----------------------+------------------------------+
only showing top 1 row

Victoria has actually reviewed Waterloo Ice House 12 times!

https://www.yelp.com/biz/waterloo-ice-house-burnet-road-austin-4

Attempted to use the pageRank algorithm to find the most influential user, however, RCC kept giving errors when attempting.

In [97]:
#Run PageRank until convergence to tolerance "tol".
results = graph.pageRank(resetProbability=0.15, tol= 0.01)
results.vertices.orderBy('pagerank',ascending=False).show()

Py4JJavaError: An error occurred while calling o861.run.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 16 in stage 148.0 failed 4 times, most recent failure: Lost task 16.3 in stage 148.0 (TID 6554, hd01.rcc.local, executor 481): java.lang.ClassNotFoundException: org.graphframes.GraphFrame$$anonfun$5
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at java.lang.Class.forName0(Native Method)
	at java.lang.Class.forName(Class.java:348)
	at org.apache.spark.serializer.JavaDeserializationStream$$anon$1.resolveClass(JavaSerializer.scala:67)
	at java.io.ObjectInputStream.readNonProxyDesc(ObjectInputStream.java:1868)
	at java.io.ObjectInputStream.readClassDesc(ObjectInputStream.java:1751)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2042)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.defaultReadFields(ObjectInputStream.java:2287)
	at java.io.ObjectInputStream.readSerialData(ObjectInputStream.java:2211)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2069)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.defaultReadFields(ObjectInputStream.java:2287)
	at java.io.ObjectInputStream.readSerialData(ObjectInputStream.java:2211)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2069)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.defaultReadFields(ObjectInputStream.java:2287)
	at java.io.ObjectInputStream.readSerialData(ObjectInputStream.java:2211)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2069)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.readObject(ObjectInputStream.java:431)
	at org.apache.spark.serializer.JavaDeserializationStream.readObject(JavaSerializer.scala:75)
	at org.apache.spark.serializer.JavaSerializerInstance.deserialize(JavaSerializer.scala:114)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:88)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$11.apply(Executor.scala:407)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1408)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:413)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1890)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1878)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:929)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:929)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:929)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2111)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2060)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2049)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:740)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2081)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2178)
	at org.apache.spark.rdd.RDD$$anonfun$reduce$1.apply(RDD.scala:1035)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.reduce(RDD.scala:1017)
	at org.apache.spark.graphx.impl.VertexRDDImpl.count(VertexRDDImpl.scala:90)
	at org.apache.spark.graphx.Pregel$.apply(Pregel.scala:140)
	at org.apache.spark.graphx.lib.PageRank$.runUntilConvergenceWithOptions(PageRank.scala:355)
	at org.graphframes.lib.PageRank$.runUntilConvergence(PageRank.scala:152)
	at org.graphframes.lib.PageRank.run(PageRank.scala:102)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassNotFoundException: org.graphframes.GraphFrame$$anonfun$5
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at java.lang.Class.forName0(Native Method)
	at java.lang.Class.forName(Class.java:348)
	at org.apache.spark.serializer.JavaDeserializationStream$$anon$1.resolveClass(JavaSerializer.scala:67)
	at java.io.ObjectInputStream.readNonProxyDesc(ObjectInputStream.java:1868)
	at java.io.ObjectInputStream.readClassDesc(ObjectInputStream.java:1751)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2042)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.defaultReadFields(ObjectInputStream.java:2287)
	at java.io.ObjectInputStream.readSerialData(ObjectInputStream.java:2211)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2069)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.defaultReadFields(ObjectInputStream.java:2287)
	at java.io.ObjectInputStream.readSerialData(ObjectInputStream.java:2211)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2069)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.defaultReadFields(ObjectInputStream.java:2287)
	at java.io.ObjectInputStream.readSerialData(ObjectInputStream.java:2211)
	at java.io.ObjectInputStream.readOrdinaryObject(ObjectInputStream.java:2069)
	at java.io.ObjectInputStream.readObject0(ObjectInputStream.java:1573)
	at java.io.ObjectInputStream.readObject(ObjectInputStream.java:431)
	at org.apache.spark.serializer.JavaDeserializationStream.readObject(JavaSerializer.scala:75)
	at org.apache.spark.serializer.JavaSerializerInstance.deserialize(JavaSerializer.scala:114)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:88)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:55)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$11.apply(Executor.scala:407)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1408)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:413)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [56]:
data.select("business_id", "user_id").show(5, truncate = False)

+----------------------+----------------------+
|business_id           |user_id               |
+----------------------+----------------------+
|-0wZIJnbYSstEGj3uXTmmA|gjZ-HBBJ2sNKMwL8xudRZA|
|-LqsFXfZDziytsnVqbuS2Q|707raSOaJBZpof1UBJ7pOw|
|-LqsFXfZDziytsnVqbuS2Q|m98Y2CbHYTjSoPheElJguQ|
|-LqsFXfZDziytsnVqbuS2Q|WTpA4GEULakoL_NLnimPlA|
|-LqsFXfZDziytsnVqbuS2Q|8kUlGcK7l2Yc7sKX0vXnfw|
+----------------------+----------------------+
only showing top 5 rows

## Build Recommender

We'll now attempt to create a recommender system leveraging our graph. There are two initially obvious routes to achieve:

1. Use the user to business edges to map an input user to other users who had a similar business rating. Then, find the businesses the other users have frequented (and given a high rating to). Recommend these businesses to our input user.
2. Use the user to user edges to map an input user to businesses their friends have given a high rating.

For our recommender, we'll take the 1st path, as our dataset is much more rich in attribute information for the user to businesses edge types.

We will use a motif to traverse our graph for the businesses of interest. Our motif will:

1. connect an input user to all the businesses the input user has reviewed
2. find new users that have also reviewed the businesses the input user has reviewed
3. find all businesses the new users have reviewed

From our motif result, we will take the rating our input user has given each reviewed business and find the absolute difference in rating with all the other users who have reviewed each similar business. The goal is to find users who rated the business the same or almost the same as the input user, the assumption being these users like similar businesses. 

We now have a list of businesses other users have reviewed that we can potentially recommend to our input user. We'll filter out any businesses that our new users gave a rating of 3 or less stars, thus keeping only the businesses reviewed positively. 

Finally, we'll sort our data based on our input user's assumed location for relevance and drop duplicate business recs that may have resulted from multiple new users reviewing the same business.

#### Train Word2Vec

To make more relevant recommendations, we'll take the business category column and create a word embeddings with Word2Vec. This will allow our recommender to measure similiarty in business types.

In [26]:
data_no_na = data.dropna(thresh=1,subset=('categories'))

In [27]:
from pyspark.ml.feature import RegexTokenizer

regexTokenizer = RegexTokenizer(gaps = False, pattern = '\w+', inputCol = 'categories', outputCol = 'categories_token')

austin_categories_token = regexTokenizer.transform(data_no_na)
austin_categories_token.show(3)

+--------------------+--------------------+------+--------------------+------------+--------------+--------------------+-------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+
|         business_id|             address|  city|                name|review_count|business_stars|          categories|is_open|cool|               date|funny|           review_id|stars|                text|useful|             user_id|    categories_token|
+--------------------+--------------------+------+--------------------+------------+--------------+--------------------+-------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+
|-0wZIJnbYSstEGj3u...|3810 Medical Pkwy...|Austin|Allstate Insuranc...|           5|           2.0|Insurance, Home &...|      1|   0|2019-11-14 22:39:24|    0|rrL1-bh6tMNSMKvx5...|  1.0|This agent doesn'...|     0|gjZ-HBBJ2sNKMwL8x...|[insurance, home,...|
|-LqsFXfZDziytsnVq...|5555 N Lamar Blvd...|Austin|The Purple Fig Ec...|          86|           4.5|Home Cleaning, Ca...|      1|   0|2019-02-04 22:35:18|    0|TKlL65VgqGGVpGnvz...|  5.0|The Purple Fig ha...|     0|707raSOaJBZpof1UB...|[home, cleaning, ...|
|-LqsFXfZDziytsnVq...|5555 N Lamar Blvd...|Austin|The Purple Fig Ec...|          86|           4.5|Home Cleaning, Ca...|      1|   0|2020-12-02 17:29:38|    0|pYAlyWozWYpTA5NqS...|  5.0|Still loving the ...|     0|m98Y2CbHYTjSoPheE...|[home, cleaning, ...|
+--------------------+--------------------+------+--------------------+------------+--------------+--------------------+-------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+
only showing top 3 rows

In [28]:
from pyspark.ml.feature import Word2Vec
#create an average word vector for each category column
word2vec = Word2Vec(vectorSize = 100, minCount = 5, inputCol = 'categories_token', outputCol = 'categories_vector')
model = word2vec.fit(austin_categories_token)

#### Graph Motif

In [26]:
input_user = "Lu4-NKrpJbSBpUcZPogovg"
filter_user = ("input_user.id = '{}'".format(input_user))
rating_mult = graph.find("(input_user)-[e]->(input_user_business); (new_user)-[e2]->(input_user_business); (new_user)-[e3]->(new_user_business)").dropDuplicates().filter(filter_user)

In [36]:
#remove cases when input user is same as new user
results = rating_mult.select("input_user", "e.stars", "input_user_business.name", "e2.stars", "new_user", "e3.stars", "new_user_business.name")

In [39]:
results.filter(results.new_user.id != "Lu4-NKrpJbSBpUcZPogovg").show()

+--------------------+-----+--------------------+-----+--------------------+-----+--------------------+
|          input_user|stars|                name|stars|            new_user|stars|                name|
+--------------------+-----+--------------------+-----+--------------------+-----+--------------------+
|[Lu4-NKrpJbSBpUcZ...|  5.0|     Texas Roadhouse|  4.0|[3sI5kFZp8lKWohkH...|  4.0|  Vespaio Ristorante|
|[Lu4-NKrpJbSBpUcZ...|  4.0|P. Terry's Burger...|  3.0|[lya2z8lpqWVGD3u4...|  5.0|Perrys Steakhous...|
|[Lu4-NKrpJbSBpUcZ...|  5.0|Rudy's "Country S...|  4.0|[I2AM0Xh5clFA3iyF...|  1.0|      Ramen Tatsu-Ya|
|[Lu4-NKrpJbSBpUcZ...|  1.0|Eurasia Sushi Bar...|  5.0|[T6K1U65wS7NtR1QX...|  5.0|      Ramen Tatsu-Ya|
|[Lu4-NKrpJbSBpUcZ...|  3.0|Eurasia Sushi Bar...|  5.0|[Kj_MYdysEwQORXOG...|  1.0|  Sandy's Hamburgers|
|[Lu4-NKrpJbSBpUcZ...|  1.0|      Sonic Drive-In|  3.0|[q3cxC9tv3bmPE74i...|  3.0|          Bert's BBQ|
|[Lu4-NKrpJbSBpUcZ...|  3.0|Alamo Drafthouse ...|  5.0|[t6eNIzThY2QCarVZ...|  5.0|        PostalAnnex+|
|[Lu4-NKrpJbSBpUcZ...|  5.0|              Target|  4.0|[q3cxC9tv3bmPE74i...|  5.0|St Andrew's Episc...|
|[Lu4-NKrpJbSBpUcZ...|  3.0|     Pinthouse Pizza|  4.0|[hBRPfyanAA-0xx1v...|  4.0|Cooper's Old Time...|
|[Lu4-NKrpJbSBpUcZ...|  4.0|     Texas Roadhouse|  4.0|[GLjWC3oPZJlBUYUw...|  3.0|    Home Slice Pizza|
|[Lu4-NKrpJbSBpUcZ...|  3.0|     Pinthouse Pizza|  5.0|[JaqcCU3nxReTW2cB...|  4.0|Cosmic Coffee + B...|
|[Lu4-NKrpJbSBpUcZ...|  1.0|Eurasia Sushi Bar...|  5.0|[iK3rXDUZCdc7BJ5m...|  5.0|          BookPeople|
|[Lu4-NKrpJbSBpUcZ...|  4.0|              Pieous|  4.0|[_tm5XdVoIlfH5PCe...|  4.0|China's Family Re...|
|[Lu4-NKrpJbSBpUcZ...|  5.0|   Maudies Hacienda|  5.0|[IA6g_H9QlY_yXsT9...|  5.0|         The Belmont|
|[Lu4-NKrpJbSBpUcZ...|  3.0|          Taco Ranch|  3.0|[s9jbQyCn2p_SDc7o...|  5.0|Moonshine Patio B...|
|[Lu4-NKrpJbSBpUcZ...|  3.0|     Pinthouse Pizza|  5.0|[jGRAfOXCqGPny0U2...|  4.0|The Grove Wine Ba...|
|[Lu4-NKrpJbSBpUcZ...|  3.0|Alamo Drafthouse ...|  5.0|[oRO3H4BW-IvEi9GS...|  5.0|           Starbucks|
|[Lu4-NKrpJbSBpUcZ...|  3.0|          Taco Ranch|  3.0|[_L0vlwBOSdNHs3vh...|  4.0|           Starbucks|
|[Lu4-NKrpJbSBpUcZ...|  5.0|       Me Con Bistro|  3.0|[HMUnp55Q8_vxIEPl...|  1.0|         Burger King|
|[Lu4-NKrpJbSBpUcZ...|  4.0|       Me Con Bistro|  3.0|[HMUnp55Q8_vxIEPl...|  4.0|Otherside Deli an...|
+--------------------+-----+--------------------+-----+--------------------+-----+--------------------+
only showing top 20 rows

The below is a user defined function that uses our motif and applies basic logic to filter down to business to recommend a new user.

In [61]:
#function for distance calculations
def haversine(lon1, lat1, lon2, lat2):
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956 # Radius of earth in miles. Determines return value units.
    return c * r

def get_recs(input_user, user_lat, user_lng):
    filter_user = ("input_user.id = '{}'".format(input_user))
    #find which businesses user rated that rated same business as input user
    rating_mult = graph.find("(input_user)-[e]->(input_user_business); (new_user)-[e2]->(input_user_business); (new_user)-[e3]->(new_user_business)").dropDuplicates().filter(filter_user)
    
    filtered_businesses = rating_mult.select(col("new_user_business.id").alias("business_id"), col("new_user_business.name").alias("business_name"),
    col("new_user_business.categories").alias("categories"), col("new_user_business.latitude").alias("latitude"), 
    col("new_user_business.longitude").alias("longitude"), col("new_user.id").alias("new_user_id"),
    col("e.stars").alias("input_user_rating"),
    col("e2.stars").alias("new_user_rating"),col("e3.stars").alias("new_user_new_business_rating")).withColumn(
    "abs_of_col", abs((col("input_user_rating")-col("new_user_rating")))).filter(col("new_user.id") != input_user)
    
    #save min abs of difference between input user rating and new user rating as variable for filter
    min_abs = filtered_businesses.agg(F.min("abs_of_col")).first()(0)

    #filter out businesses with same input and new user rating
    filtered_businesses = filtered_businesses.filter(filtered_businesses.abs_of_col == min_abs[0])

    #filter out new businesses with reviews greater than 3
    filtered_businesses = filtered_businesses.filter(filtered_businesses.new_user_new_business_rating > 3)
    filtered_businesses = filtered_businesses.dropna()

    austin_categories_token = regexTokenizer.transform(filtered_businesses)

    result = model.transform(austin_categories_token)

    result = result.dropDuplicates(subset=["business_id"])
    
    result = result.drop("categories_token")
    
    filtered_to_pandas = result.toPandas()
    
    filtered_to_pandas_duplicates = filtered_to_pandas.drop_duplicates(subset="business_id")
    
    distance_from = []
    for idx in range(len(filtered_to_pandas_duplicates)):
        lon1 = filtered_to_pandas_duplicates['longitude'][idx]
        lat1 = filtered_to_pandas_duplicates['latitude'][idx]

        distance_from.append(haversine(lon1, lat1, user_lng, user_lat))
        
    
    filtered_to_pandas_duplicates['distance_from'] = distance_from

    filtered_to_pandas_duplicates = filtered_to_pandas_duplicates.sort_values(by = "distance_from")
    
    return filtered_to_pandas_duplicates

In [93]:
%%time
input_user = "Lu4-NKrpJbSBpUcZPogovg"
recs = get_recs(input_user, user_lat = 30.270555, user_lng = -97.742895)

CPU times: user 265 ms, sys: 35.8 ms, total: 300 ms
Wall time: 1min 57s

Finally, let's remove any businesses our input user has already left a review for.

In [123]:
input_user_data = data.select("user_id", "business_id", "date", "categories").filter(data.user_id == input_user)

In [124]:
#remove duplicate businesses
recs = recs[recs['business_id'].isin(new_only)]

In [104]:
#how often other customers appear 
import numpy as np

u_users, u_count = np.unique(recs['new_user_id'], return_counts = True)

list(zip(u_users, u_count))

[('-127E2yrTl8VRT8Zh-IzcA', 1),
 ('-745cYuxU-Yzi5wsTTl1zg', 1),
 ('-OY5qbkkKvD1YGaN6UhzsA', 3),
 ('-Xq4VkojyDxOlGQ0Ln-IXw', 1),
 ('-_DkhGsCaWJbN3aB1GmTJg', 5),
 ('-_x2o73mzJ7BgCAydBpM9Q', 1),
 ('-e8XaCNfSHYzIy7YFATXFA', 30),
 ('-r684wP4J3WpDWBfSjwkeg', 10),
 ('-r90xzlwlB_huF8wSL3v1A', 1),
 ('-trl7htF1I1_BH7D3ZYDqg', 1),
 ('-uTleVV7SJJdmTZmQ3PEPg', 19),
 ('-vFl5LV9Aqd494V9F4FBcQ', 47),
 ('-yHEt4nmx6SEWW0bhFAtKg', 3),
 ('0-fkc1VF28tFEYq6TWR45w', 1),
 ('06YeNfSpBoAu3ZAeA7vATg', 2),
 ('07ZsxJOKSRXBZJ02kT6pEA', 1),
 ('09VGyGnKbkgnGoyWUZGOiA', 3),
 ('0NgeMvzs99zI-gkfhP3LSQ', 2),
 ('0P0ivEq2UxllE9UA5WhIug', 2),
 ('0PrV9wgHBnDwb71F-ZhMag', 20),
 ('0QHl8KVCaT1wKfS33v2dUw', 10),
 ('0a-Wbn8KmP5Vu7eRibfH5g', 3),
 ('0cir6cd1hbrelrfYzMPNSw', 21),
 ('0zCuittKrx-eImNva8udaw', 1),
 ('18KRbHUM-uCgR94of218Qg', 2),
 ('19MQQFLbpI5z6PYhHrG2mg', 2),
 ('1LpnOswhApttYj4C1Sr2Jg', 11),
 ('1O638BDK_fWuxgTVJwff-A', 94),
 ('1P8W9bHpiWdM4te1kNo66g', 3),
 ('1hW4ZhhmpnphKwfrYVnDIQ', 1),
 ('1jLGFOjk5zRu6KyMD6WCyA', 2),
 ('1m1qGywU8wGdT6a_EGvFdg', 1),
 ('1rq24gZsum5ofeLV4QYVnw', 5),
 ('1tObli6sTFk4iyAN9A84rA', 4),
 ('1yizm-DgDr-jCQv2KcCqMA', 3),
 ('1yqMZSQq3Y9UgXLUv9kNoA', 1),
 ('212C6XGw90Awpv_rRxm43g', 1),
 ('24HwIOVHkqzaS3YRwkBPGQ', 3),
 ('26DgpXLNsJ1CrOzDWD9snQ', 2),
 ('2Rj4ESvABPu_sz4EhwJkcw', 23),
 ('2SK6mGUs5GReMV4L2Yvcuw', 4),
 ('2SPDoF0yiEdiEcK4By03Hw', 12),
 ('2SgUVguo9eC3FtiooQX1iQ', 1),
 ('2ZZa77fpoB9HyzursnltXg', 80),
 ('2_nmnDsm2AS8uL6A3Gwhng', 1),
 ('2amMnWQmppzFMgxQ_oO_0A', 2),
 ('2cdLJjpffyuJz9BL-2hLyQ', 1),
 ('2fwJh1QEuScyMw2pbe2l_Q', 3),
 ('2kceNKsVj4X2n3C5yxBY9w', 7),
 ('2uV7zGYSqTXb-sDCeiZ1NA', 20),
 ('2zUMo8adbvKzvL5ddeFunw', 2),
 ('37CG65RYEQl9kjIW0rkUJQ', 4),
 ('3Ezz-aJqYGs71lRhP87YZw', 7),
 ('3OxW-xQZCOMs1Se9Jes2VA', 9),
 ('3fjlg9MDj06oQ6nUPa6CNg', 3),
 ('3g6J1hnTC0T4c7pBgdV60g', 9),
 ('3gFcXAGgivPA7P74bMDp6A', 1),
 ('3jYjbMa6VbAkasV7RQYS8Q', 2),
 ('4PYBgks_s_uHNaM6wHK7Fw', 3),
 ('4ThOm_YAKnrYB7oNUp1b1Q', 3),
 ('4a8oZMzoX0JdYyAinNY_fw', 1),
 ('4mrAnpNZFvwwsm9Y6iE6Uw', 2),
 ('4tRLxCE1fLI4KoDMYjTXew', 4),
 ('50rGq9DVefzLYmkdeXpplQ', 2),
 ('57c-Z5wnzutRKBRYWIJXPA', 3),
 ('59YUTbsoKBLjLbT4qLvyPQ', 7),
 ('59Z0dXArQp-xF7GgL9X64Q', 1),
 ('5Bays01plvQsGBkj2631TQ', 1),
 ('5Coj4DLINTa86KY6_KMH8g', 1),
 ('5bY5EKlEV_IzWiU3eyKSSg', 2),
 ('5dRhP-ReCG_4BDs59txUTQ', 3),
 ('5foTzlecTR3dV3xcVsDdYg', 3),
 ('5iaLTMSN5snE-wqgbo8HiQ', 1),
 ('65UbhG9GLV0SlqqDANS4OA', 1),
 ('6D-3X5jIbcTrQLoI14IveQ', 1),
 ('6FZHK8KKSt4BLoV2dcfknw', 2),
 ('6Iz1Aga0jE1Mb5RmLvIHNg', 62),
 ('6dP49vtCsUDagSlOdcvcKg', 1),
 ('6gWr7NiOsCzATFTF4-XhZA', 27),
 ('6sTd7Qpo6IouRwTtfcBt3Q', 5),
 ('6t9-jmvXp0B-pL6lNoPA6Q', 4),
 ('7B54LTNiGrRI-ftX1phmqA', 1),
 ('7OYfVLS87I5KDGHqHfpXDA', 1),
 ('7S7htqsxpO4RBWbE9gIGEA', 8),
 ('7YO8MNEQijvevbMguxjEOg', 1),
 ('7pmWElCtdp3ykUDxJiwFLA', 5),
 ('7wF70tQKoFuA4idrkbU-gw', 1),
 ('8022lM-DITf8T5Nm_sqI5A', 3),
 ('87KmHE5POeyuSTq-wOVXnQ', 1),
 ('8QQa4yqSQC2GsZQW3imwVw', 1),
 ('8RH0kwgzfXhDcSrJZWs32A', 1),
 ('8XlB-J73QOFV91Y0e1FKPg', 22),
 ('8n__PJmgvBk_4F5bh2Zgpg', 2),
 ('8uWRNI-Y1X5OQdXjbiLaUQ', 8),
 ('942mZ9V4OUaJwOraW09trw', 2),
 ('95TC-lcXThdbngLNg5BF9w', 3),
 ('9B3T5t_mAnxCh9YXbJ0KRw', 1),
 ('9Fqb_Na3r-OTRzs0fP7hmA', 10),
 ('9JRtN_7qX8UPLzZ33GGMEA', 5),
 ('9jmqW8_1viZI9eU4fGt34w', 8),
 ('9qwBwp9Ca1XghE3NMjgNjA', 1),
 ('9xxLVsTvg_7_CfW2hyll5g', 1),
 ('ACbd5pgDXoKzvP-ZYqG-eg', 2),
 ('AITVFQS9hXDIN24G215DBg', 6),
 ('AdzOkfluJe_vWLBCJthE0g', 1),
 ('B8w9dIijjvzKBvMfUtjMRg', 3),
 ('BMFbpCHLuGnYB9g2evjYyg', 1),
 ('BSa_xCr1hIYAZc8JlwcGmw', 2),
 ('BVx7fw-HHj9AMIf9Tr5MIg', 2),
 ('BbXO9IIiZjLbURsTaSAFjA', 3),
 ('BeHYPsnL-taA1EBApuXuMw', 15),
 ('Bu2_xqDplV-Rl0J_Mafr7g', 26),
 ('C3rPGtVzFkHxgMoZtWtiKQ', 1),
 ('C4u5J8kVIXSnuwtF5xiUlQ', 2),
 ('CAIC1AmcUcM2rTO4AzGrKg', 1),
 ('CB9pVBCBeUjitslv2oB9zQ', 1),
 ('CCWEuNOHc87iYyEZlKwZSw', 11),
 ('CEz38jpGg83BGYEy2RZLFA', 1),
 ('CL6UrQcgMWgv-2DPzgbDcg', 3),
 ('CSWaSNx4mf-3MWdvSApWVw', 3),
 ('CWK93B_5LEjiXpuQkF11dg', 6),
 ('Ce13c1_g2Y1-P0kMqPdwNw', 3),
 ('CkmEDj-yy3HFyCi32lXYyA', 3),
 ('CoqUb4pQa65Xp-s1pMNaKA', 2),
 ('CrYiOSdOKjZsyNCZ4s9N1g', 30),
 ('D1Y0kxRLoTvy-BM9trLoXQ', 1),
 ('D3NywWBPdK4rTmHvE7jV8Q', 3),
 ('DAZPV3z0sUVdp3IfvlssoQ', 2),
 ('DDRRoLOItDO4YK18dp9byA', 4),
 ('DDm6nor9DS5fRePxxfWqeA', 10),
 ('DIX--Ivzi0_Q6mMUBrroLw', 2),
 ('DXk_ViFHSXI_Ertp3hoDsA', 1),
 ('DoIWAiAl0wCTHf8tG9ErBQ', 10),
 ('E1BzRaa6pR7yUFdnyDuX_A', 1),
 ('E25C6WwIvZQ5_rdwdSwiMA', 13),
 ('EE3UtC1adSzagvxwFzfXcA', 4),
 ('EY11upjGpty9L0XP4t27cA', 4),
 ('EZm_Fapmv7WqHPY8QRFnXw', 3),
 ('EaFq5xiNBgxbCa-bCSR2kQ', 1),
 ('Eg2iCHqIJf3BP5f4LAlp4g', 11),
 ('EqqKwwtGIlrxN5v59KsKtQ', 2),
 ('FLgBEHMb9Y4HE6hlTRuJUA', 13),
 ('FLh35b416V04zFLe0zq4Tw', 37),
 ('FMMrSw3Sq00-IJxIp-74jQ', 6),
 ('FQhxVUATiBrMUotQbyzF9w', 2),
 ('FXkMsJk9GSJBu-C3rBklag', 1),
 ('FfB8wjw6OaclTHv-rvo5bw', 4),
 ('Fht0RXETC9dydcnENzyBCQ', 4),
 ('FjSvQFoqw4ewukV42kUxPw', 1),
 ('Fl9_fb5RD3_72-SRN_HtHg', 1),
 ('Fl_a-bmZevYug7tWAAkRlA', 1),
 ('FtwghCHDmNnVtMsqbeQ46Q', 6),
 ('FuUAZKh6yMp9os6_EzNZ0w', 5),
 ('Fvv7PT8ipxMenWejkLbvMQ', 4),
 ('FzotYSOFJjJT3GZLMITYsA', 1),
 ('G5rdHNFJCUZ6Eid6RAQBTw', 3),
 ('GAD3Y80MtAQiThURd68ZeQ', 1),
 ('GEcDG8eVU3TwYfRpgjJcnQ', 1),
 ('GF2gJL-Z0u0UuJSmcYY0Aw', 2),
 ('GLjWC3oPZJlBUYUw4Hnr-g', 15),
 ('GS-9BDva76WHCA1zGKy66A', 1),
 ('GU1N8EvhYNfLekAkJ-Wp7A', 5),
 ('GcTCP2-AKIMdd2jftcRUCg', 1),
 ('GoQf5-P-3isxnmCpWivyGA', 1),
 ('GrzKJ-yqbnoT5GnHO97FTw', 1),
 ('GuONl9CCk1KAhRfA3_77GA', 3),
 ('H-eAoTb37FsnYi-U6DVpeQ', 1),
 ('H1uamHQKJJwMpjiHiKwl-g', 5),
 ('H3mZfUH88NWl1Es-ylMn1A', 1),
 ('HIoQYs1KrSYRYBTbnuxC2Q', 4),
 ('HQKvGDJPg2FfDtJfWzAJDA', 6),
 ('HdhOQuC6YCymwtecjL67bg', 6),
 ('HhtyCRn1F7TsPWoFnxHfiw', 1),
 ('I1BOZWzCChENqWuWRQOy8Q', 1),
 ('I3pdqclt4aZBB88kPKkhIw', 2),
 ('IA6g_H9QlY_yXsT94kdDsQ', 2),
 ('ICS5-owyeVobrU9EDS1Ylg', 1),
 ('IMA3LRjAKdFfBnwShAif2A', 1),
 ('IaygbbuFy-GI4-JBHr56Lw', 4),
 ('Ir7es4A0210IUeI-I0nEww', 1),
 ('Ix8If5BiasW4egULRkeOig', 1),
 ('IxBDJcA8Zb2U8m2ubGUfIg', 1),
 ('J2OFBwvFaeWmh9hZm1NCsA', 3),
 ('JIiO4JJqNK1cZTG2IsxX9A', 6),
 ('JRysF0GRelAzvPe3QvCsQg', 2),
 ('K3aR8F0EVHULAcv6Pfkohw', 23),
 ('KD0bYCmBCH4B9HMa_d07mA', 19),
 ('KcXa27KaMt93L6fq_sbaug', 7),
 ('Khv-X-dM2EET2VH3wXH6BA', 1),
 ('KotER8VJTSJfW4lZXHf1qg', 1),
 ('L2Ht-phE_NeXZKFuZ623-g', 1),
 ('L2mpBoDUjeWt774nGvNn0g', 2),
 ('L9vMwwIFtOPWyalZVVDfTg', 1),
 ('LBbUc4eNlnkUZZjn_odKgQ', 2),
 ('LMemEpyNWa_lrZFoFwj5yA', 8),
 ('LaC7BFs_N5UbdxQjjvOjLg', 88),
 ('Lh_iBgm6SdZNIeYpSyGoXQ', 3),
 ('MImfBWEDs-pvx1GChdHl1g', 7),
 ('MKqiymK6Er8jnNLP9TyVmQ', 2),
 ('MQYlkZ6vo18PQ-LUUPXEAA', 9),
 ('Medk7_PwG_AgvUsdCfJMMw', 1),
 ('MpIt0VPKr6b_NbuyNsnA1g', 1),
 ('Mvp0jplVEQ_OWHxEovkd0Q', 2),
 ('N-NzY2ZmYydUM1-408Hu4w', 1),
 ('N-i16PyyKV_efHhJ48JgQA', 16),
 ('N0AcXbuOkR-iLgs82970Jw', 2),
 ('N0vGKlgjT62Dz1DpXunSKQ', 3),
 ('N3PHYvNr1MV9NzMwQ5Vz-w', 31),
 ('NCJ88_PvG6hca_R9YNzy-A', 1),
 ('NHuLFl_eDxtXV1RLVOV-Tg', 24),
 ('NKfAMgAJkc7Xx6-vB3JQYg', 15),
 ('NQBoWbo03jtIpGKH6XenLg', 1),
 ('NpPu3LkmuilPLMfg1Jmh9g', 3),
 ('OBMcKyC1I4qThczQ-WHlpw', 16),
 ('OLhrORPi4sTthankrEMICg', 6),
 ('ONNF30FbGDhw1T3vA3C5fw', 7),
 ('OSDHJO192ui-dPbViFUGkw', 1),
 ('OZGxENnLY9DH71s7drXU9Q', 4),
 ('OkSj-faIksjk9KBGdr-0pQ', 1),
 ('OpD6qxJkEmcBCSUOkjRawQ', 1),
 ('OpRo_jxNhVCD9E8BHfl7Pw', 1),
 ('PCIzYdgQHxm8Nf_QL7bbXg', 1),
 ('PDSHNPxkB_eoz98-PV6TqA', 1),
 ('PDXu0w-tEjcyYzc8RPo6kg', 2),
 ('PNDmSLwBAuK0T27ZADa8jw', 1),
 ('PR97af9FLxh6UGfaeJVShg', 2),
 ('PTO0ZROi_tANSiP-glH4IA', 1),
 ('PU4dKY8IcpI3Qma0vRsV5A', 20),
 ('PapybQVcIgo99Bx7lcA68Q', 3),
 ('PejYnDI1IT7ZMZ9Q-dhYIA', 2),
 ('Pgy7cfMMXGOzHQ2Ww5KN4w', 1),
 ('PuCQIQ-wHyIL-DTy0YllVQ', 1),
 ('PxXHG8XNZG4HHiD7H9yZIg', 2),
 ('Q-nrc5Xm2erYDzkngk0nGQ', 2),
 ('Q5T0Y0_4rtYzgsIAZ2xqDA', 10),
 ('Q6rvWjC2eXrjg9OXzZEMaA', 2),
 ('QMCl2ZYmNgIDy2RcFSQRQg', 2),
 ('QTLROi3B7DQn6pLO_ZKwSA', 3),
 ('QTwk5Ij2D0lwz851-SFqdw', 33),
 ('QftAQ1FJJ6y2DD_ktU_hdQ', 1),
 ('QmcwAXSXN7AOBkvI4D3k4w', 4),
 ('QyvnjTfQDRqd-UTU9ydLxA', 2),
 ('R6iLF95N1NY_mcmn5DznIQ', 2),
 ('RCM3gwG8sC56MQxhwKfrSA', 6),
 ('RV1_SyzEZY1WLZqdf-dGiA', 11),
 ('RXfiN5i4V8nIbYy5zPn0kA', 1),
 ('RYolFBIC44VNOk_LZ0jASQ', 7),
 ('RlBDaD5HlGXHKUWDDf2Uiw', 5),
 ('RrF_NCTyeR6HCzn-sPwWAw', 3),
 ('S24YNbVtKrc82PW2U9kvRA', 4),
 ('SA5u_QMmpkShPy9Bi7kgCg', 3),
 ('SDmxRlqtc5Q2_fcZ6m3SAw', 2),
 ('SK5nnwknBAJtDVG3JLXZiQ', 7),
 ('SMP97h3uFqMGWsAMFSbK-Q', 1),
 ('SNGDGRJmYIWrLT2Cm0zTJw', 2),
 ('SahQD1n9LtH25CGKvlUX3Q', 2),
 ('SajPEHY5tAvNHxqqE2bObw', 16),
 ('St0Z_0Ponr7nljduSp5WsQ', 1),
 ('SuAi-eKw0lJmZmg51ur-4g', 1),
 ('Sz-pwoJupQfHUDs0A78VRg', 23),
 ('SztF5RGOSNPMoPn-dCtVnA', 1),
 ('T-r1q0DNMwGSUKsh4XPdjQ', 8),
 ('TAMfF2Mo3Qwbu2TYhGfG4Q', 11),
 ('TE9su5G4hUxeDQT84gZ_IA', 5),
 ('TFPKcaarG_KO4CybCXxl0w', 1),
 ('TLdLnc88AnnqamLj63Y5Ig', 1),
 ('TZgq6Tn63pic4NQogTDjzw', 1),
 ('Tf1EmLLUZ2tlpOhaU2kvpg', 11),
 ('ThJKRZWSOfRkDICYtw3JEw', 1),
 ('ThZ7EFMjSK3GKjRZn7gXtA', 1),
 ('TyA9YfTkbjoEGMCO8ccK6w', 2),
 ('U6qWz_cs1p6Licfj0T2Flw', 49),
 ('U8y3_gH9yC7cHrWrGHz_2Q', 5),
 ('UAzjbwXU-nxr6bpSYjwLjg', 1),
 ('UD7c9lR6VupSDBbrhtvkNw', 5),
 ('UQwKeCynyroh-E6bVG3DrA', 2),
 ('UTXobrN3nD6tyqynVVCjqg', 22),
 ('UVPb84sG53OgwBCDZ-5LzQ', 2),
 ('UbEaPLnXCB4KtYkyjX7uNw', 1),
 ('Ul1AD0-b--trtAQqqtWvag', 2),
 ('UsXVhOXc6PYJbMOuJTtoQQ', 1),
 ('Uza0OKbsvA8_JR7AGsyYeg', 7),
 ('V1_EBqTrKk603Xnh52fuog', 4),
 ('V6G3iHrIbktLCs8CWx6cyw', 1),
 ('VCFROgU6qSLgtOQPY-5UDw', 3),
 ('VCpADuKepVJMiaxl09_5dw', 1),
 ('Vm6PQre0YWKzG5gd4_58lg', 3),
 ('W-NBdoroH4lbzTThYURWzw', 1),
 ('W4NOYwGHdwZRMhb7BApeNQ', 3),
 ('W4znZIW_TYZeKrjAO2ZhUw', 11),
 ('WIhrdYTVpkVmkW3Ltr-fVA', 6),
 ('WpZJ5gCL2YMLBAZMo7xATg', 1),
 ('Wvot1XyAFL9OR85EwnoUlA', 4),
 ('XPSCzZNATC4-Qrzr_gEKFg', 1),
 ('XakIKx41jbn0EZqWZEMghg', 18),
 ('XbuIUjdHEN9abLD5VUlz0Q', 1),
 ('XyqFAUKJVJHXfJALmv6uKw', 1),
 ('Y1X05THbW5SW3TXv9CaW_w', 8),
 ('YI5RSeENT-fdcqmJpCpp2A', 2),
 ('YInUZBqHfMAwKA9no3Zftg', 13),
 ('YNbywl3Tj2z2JZy43uE0gg', 2),
 ('YZeXyGwXqIDpaQ4A-Lnz2Q', 1),
 ('YkuNFPeo4wPqex-QklGeDA', 24),
 ('YllWHyHsB2r_gROXJXn_ig', 15),
 ('Z2xdBFQN_b1ltL6D2CZV0Q', 2),
 ('Z7PgyizmWXKJDuKOxQdiTA', 1),
 ('ZHSHUr6KMX6vxbBtOc-u6A', 1),
 ('ZPtkgcUgSY4wIxy3YqR5Yw', 1),
 ('ZQQhTLFXDNzgW2jfwzLuaw', 2),
 ('ZUHwwF0LrWDmh6Rhsi7VyA', 3),
 ('ZXyEuGNHf0xmgaP5VBYBfA', 1),
 ('Za04ZUz8FQYyG67Mmg50Hw', 8),
 ('Zf66IDXGUlRdKS4fwzARIw', 1),
 ('ZsXUjOzbkgUrCg54Aqt7RA', 1),
 ('Zu9ImENVi3ldALdT02AOwg', 7),
 ('_3GvTLdqWhxhEchgVYmPeg', 2),
 ('_L0vlwBOSdNHs3vhz_548g', 44),
 ('_Le0MDboeXe3tVQB6-Pq7w', 16),
 ('_O69JxHf1Qxil4lHg7Carg', 1),
 ('_Qc1KiPEM3NyeueNuPLupQ', 1),
 ('__GRg38Bi2M3zMI4Rwislg', 1),
 ('_rKa8tXhFqRBOQH9I16Zng', 9),
 ('_tm5XdVoIlfH5PCeL9J5Tg', 8),
 ('a3324LIjIkToAMra5aOk1g', 2),
 ('aDLE4bqQHlzPJomJLd2qfA', 1),
 ('aEKsw5rugHmSZx3ndhMzVA', 4),
 ('aK6LlRe2I-7si5xc4gsR_g', 2),
 ('aPdsF5HUW8HW_h8xfyu64Q', 2),
 ('af8PUBFK5oGP3HjZzrUFBA', 12),
 ('ag9jovnxlu6zk_Glf4MMSw', 1),
 ('aiY44yAKyPZ8k69IoslR3w', 8),
 ('arCAfUcJo5Whe88woo_l9A', 2),
 ('b3A2LIiY8aesMRlWts-J4Q', 2),
 ('b50pL4mhjsJ4YSnu65ZkGA', 1),
 ('b8U5DRMgL48Fa8zXWKlABg', 3),
 ('bM1BkWIZ-9ILMLhv_tBd7Q', 2),
 ('bSZuKP2cf15r4tfPQSotLQ', 2),
 ('bVchqUHh5R7iu-HccZD9Iw', 8),
 ('bfR6wxCXoxT7lIIAv8iajA', 5),
 ('bhpyQv96mg5uEX8SswcIig', 8),
 ('br9hk_zyGf-BTgrjwPjsMw', 1),
 ('c2J234hj_RV4TWowmf1CVw', 1),
 ('c5Sx3mIYvVWSg8srD2GTag', 3),
 ('c6CklxjggRSwVkouPklXGg', 39),
 ('cPky7he3XULZEQ6kTV1OYA', 1),
 ('c_9E-nP0L8sRfV8qQu7MsQ', 1),
 ('cbotodqO2zCoOa5qdJ0Nsw', 2),
 ('cdEXhY8Ruuw7KYtmRez6Dg', 11),
 ('cfzcHVbtwX0aG6AZTxK-hQ', 2),
 ('cgLAVWKjWVul_u9X1sb4Zw', 1),
 ('cgrz4BGudGfyqkw6FDGjHg', 5),
 ('ch2pzJ6XNyuJFC33tX5VuQ', 2),
 ('cmVD5Ai1x__iOtNgoZjkAg', 1),
 ('cmYaDiGVfs8kEU0_QccAgQ', 2),
 ('csFQBnMP0XWQ1mChEtooNA', 4),
 ('cvrV0GVMS2Kqv_CaycfeqA', 22),
 ('czcfUbZQYX-lFEHLsmVIRA', 1),
 ('d0HLc-ABfzrwAfCc0tj_Ug', 2),
 ('dADe6pGW1OaYBWQWeIHbxg', 2),
 ('dFoyPhoqs8i3CIc7MbV8PQ', 9),
 ('dJ8FVP_NPxw9zmfUZyGdiQ', 3),
 ('dKsBjc3TqXoBv_WG7VsUqQ', 1),
 ('dZI0dht_slItgVmqr3NPlw', 3),
 ('dZm3dOyuYfmnHztcsYBZhg', 1),
 ('dmMr7fCrIlHOrWKBG1xF5A', 4),
 ('e7qd_dEplVnfa0MykfQnpQ', 5),
 ('eAOWvwdmCKIgFYx1aryoZA', 3),
 ('eB5aAVrKp8TMb9T0DZyi1Q', 1),
 ('eF_3TYyhOzBdZyUwEDV5sQ', 7),
 ('eJl7vgs5nrTobR07y0zV7w', 4),
 ('eP28dLhlm6j5RH2dB8gjPA', 2),
 ('ePX43507yLh5LqGm6XGbCQ', 21),
 ('eRPsGOd1VE7lF6pRCMVWuw', 4),
 ('eaq31izc4yUnDzlvMvEanQ', 21),
 ('eeiglYpiISW0VtFSVXDDdg', 1),
 ('ejMWe2IAWlN_Y7t85lwnCg', 2),
 ('ekDb6Gb_OX9uh6v3zWsGSw', 1),
 ('evNB0h6LrVTCuIYvDz9h5w', 2),
 ('exJF-hqtFcAyyiyT99vDEw', 1),
 ('exlILToZdM_WEpaSC1dZXw', 1),
 ('f1inDdiqibOGVq8UBGjzRQ', 1),
 ('fTLXH0n6ZNgeZg7JSeeTaw', 3),
 ('fTzHlX1qQaAKe1tRUT5Ttw', 5),
 ('fZfT15ErAOKGTJUPZ_t2VQ', 1),
 ('fevC5VwgTB3MaDhbIZbNgA', 19),
 ('fzE2kwgNDbfwpxeClmvkLg', 19),
 ('g0EqzmYwwQW4np2rJ8HBNg', 2),
 ('g1nTeeyV3RuazHcnzXss9g', 2),
 ('g7ZRhKjdMK7Ur_FAisiA-A', 1),
 ('gAjohKSPylhYa9pPb-lOew', 2),
 ('gDfyhGSozuRSpfiyenNdww', 4),
 ('gPMD9UksErx9u45Ejq1k8g', 25),
 ('gaCKavAvS7Hm4WvDNnC9hw', 4),
 ('ghAvDR1XbTfMrUUousZFxA', 1),
 ('gkzYUbef8EAXIWvYsYNdIg', 2),
 ('gvzGGvMCYgnBfQDRXJDF1g', 2),
 ('h--d4CYkt3rhO7DD1eZ3gA', 5),
 ('h61ZEMvw6kNFtWHBNMx6FA', 1),
 ('h7YK7s-uctSu_tvRTK8Vug', 2),
 ('hEzAKgsLmr68pFD-D8CSgg', 1),
 ('hMcj9bycLG9_2UPMWSEWnA', 1),
 ('hNgZ-C2wlaDLTmHJfZ7iqQ', 1),
 ('haFK0xEC54w127mfG6v1Jg', 15),
 ('hkLVRKE24kp0Pes9DoNXuA', 5),
 ('hlSZZGCZ6_G9TbRvndI9kw', 22),
 ('i-eK62OxbmXGJ6i2N4p4MQ', 2),
 ('i6TGYF0mi-FePzzS7cnqBg', 1),
 ('i_q6tnVsa7C6Ctk3oyupGg', 1),
 ('igcnVpgAYC2EMP0sXZmuTQ', 10),
 ('ipphI5IjZ8q-fSWxlPN9fw', 1),
 ('it_Jw8WdAEnXR_LzcqPOIw', 2),
 ('iyavgIytOyWOy99k6RwAwA', 6),
 ('j-3EKqibEB11G1OZC3ZF1g', 3),
 ('j38lLTlNyDR9LPTRGGYjvg', 1),
 ('jA8QxEykYOAwJCLJWsV24A', 11),
 ('jIeWA5OZgceOnPal1MqrZA', 1),
 ('jNjUsLRkcL6el_ToGXnebQ', 2),
 ('jO2ExV9YIfTAyQLcUjkleA', 5),
 ('jcsRX-yqQvhYvoFlhM9JzQ', 3),
 ('jiyFEvDW08q6DMtXgvLg_w', 1),
 ('jmjHcKDivJ8C1yeaZJ8_Kg', 3),
 ('josmbO6a_QtZJTl_2DytzQ', 4),
 ('k8LnTNnZGMjdtjLk7YFDBA', 4),
 ('kW2dk1CWihmh3g7k9N2G8A', 52),
 ('kXnjZ31bqSzT6TEtPHseMA', 3),
 ('k_0eQj_NsmManODITQdaoQ', 10),
 ('ki6o_D04biu-IPJFUuKNsA', 22),
 ('kmb1A6tcbGTiByMGkpfeEw', 2),
 ('koRCG1RumdJ8dDXwfYaVuA', 1),
 ('kuQOpXdECDoWUr0PWDSFpg', 8),
 ('l17TvxPKlCblcQlbA_m8Uw', 12),
 ('l50nUEvkQt1iLBwogsFSDw', 4),
 ('l5MzxdYt1NyrEtrRx9e3Jw', 6),
 ('l6TgzR58SROd31-4mYGdPg', 1),
 ('lAvsn0oYmwkRva9gRJFiwA', 2),
 ('lMmt1UgWGQ1-KTAVqzR1Mg', 5),
 ('lNEi_QhvQ2ZOZABlNwlI9w', 2),
 ('lNfoCFWsEZt7LKWt8lz1mQ', 1),
 ('lXJpl6IGBCPK-faM6MwPDw', 2),
 ('ljL8up0c4wglzPBZX_pQ7w', 2),
 ('ll3FVLibKg7cUyq_f4qKSQ', 3),
 ('lp8ejLl_C1HIROtS_ify2w', 1),
 ('lwxu8giUAXAtshLCC-St_A', 2),
 ('m2M9qvF1joFKisTeb7NRQw', 9),
 ('m8puxSWHaSgHE9vnweh_9Q', 1),
 ('mCylwQq-eqQJ10rbVg1J5w', 1),
 ('mEiWo2o-ayntFXFDDV_oEw', 2),
 ('mHnc6ecT9CbbBmrrh6Ofqg', 2),
 ('mO3bExZKF2udBensirn_uw', 1),
 ('mS4tMD1Y_nGXhZvnLgfCAA', 4),
 ('mW3AmsOgXwLAMaCHwLlJeg', 1),
 ('mjJv6a560LT8VwQtujvM3w', 1),
 ('mk4ZTrfNmAczQjQbfpg_6Q', 2),
 ('msKgx9iP5og0dvOOVppRGg', 10),
 ('mxsqfFmLPdZaFAGcpz2knA', 1),
 ('n0NsugiUhcJ96IenXqpTIw', 1),
 ('nCnqLPjmzjyfe3-576o_tg', 3),
 ('nF_RHZ8A9Hef-ipZxNvk2w', 14),
 ('nGetgouYcEokefYpTb3lPA', 2),
 ('nMdK4qTofDvYjNJ_vLG4xg', 5),
 ('nTZdBTLc4_gX1dtILknIMA', 1),
 ('nTzr9ncEq8QzJNBNFT2XSQ', 3),
 ('nUjKOZpTFuJYMNiqZBVouQ', 2),
 ('neYPj0Ik2OiPrGSRLDciAg', 11),
 ('nhvB41B8o8Whk9aZFm-2oQ', 9),
 ('njvz_tw9z6pcxN25x5R53g', 2),
 ('nk-ydTMPsL9UVLaIE6MF4g', 1),
 ('ntBt0FNKwk54QU86CFa_zA', 1),
 ('nu-3pg3_iWEhhHAmeNSsdA', 1),
 ('nwMh7F7GtHuENipndSO5rw', 2),
 ('nzECDssveCTvQqKKaFJFow', 20),
 ('nzluOxQb3CzbISanXRSsuQ', 2),
 ('o6VrjhxUucgjcWc8iQuHdw', 1),
 ('oBUZgRiHQeN6pgDKy7LPWg', 10),
 ('oEg8nOdrTmNeGL4g7ZHgEg', 2),
 ('oWFKwCLhI2J2Sa8AfdSXxA', 2),
 ('ogrv4_rE8hkOmcxE6fiptA', 29),
 ('op8d9geoz8oeBseVAqiPNg', 22),
 ('otdRO1dTaIfPjBknS-tJ_w', 1),
 ('ozKGX3u1Lioz1Il8Uq3eoQ', 3),
 ('p3Qd-yUmOk9F6NWiEeK7nA', 1),
 ('p3WtCgcOXwFkdC4Squ5Yow', 9),
 ('p3g6xpo8qRb6yBrF3NOUpA', 1),
 ('pTqNFA4WH0gs6uEIbGU3qQ', 19),
 ('pUZN4Pofv0uL5G6mMgj8Gw', 1),
 ('pVZhQEOM-9XNn6VFemWyWw', 2),
 ('pek8t_9umcmmbRprHmEGoQ', 1),
 ('pkVvMbebF2bxwEHpVqVgYQ', 7),
 ('q3cxC9tv3bmPE74iLhzeYA', 27),
 ('q5tcst3eDcBJhHpYIfHNqg', 3),
 ('qPaII1MvJWT_llGa1i8uwg', 1),
 ('qUzQgrpUCn-HjnhVkj6UhA', 5),
 ('qcpg7m7V-5XgHZzdk_f_hQ', 9),
 ('qoKvDdJMfqLqd_3AsckIOw', 1),
 ('qsRZT2DaYSU7lfM617fmOQ', 1),
 ('qvtdc_TvAK_FCZaRQdlbxA', 1),
 ('r68LDXNUBvGYY7RQSVZ81w', 1),
 ('r7imbrOR6fQTWEtJCOajnA', 1),
 ('rA17RLW4IX-0oNfagMeOBw', 3),
 ('rCgzn387hf4a2Wx-iAr5pg', 2),
 ('rFXPCxUtRi_i_pZ0bO9jXQ', 2),
 ('rHUdNbOdLoJt46bOHIYFCg', 2),
 ('rgv6LCiBqRv3lxnAMNOMkA', 5),
 ('rm-1INz6tJD8538jqC0_9w', 2),
 ('s0misByHQPzT7-semxVSvQ', 1),
 ('s6wxwX9_R9si2nSvqPQMBw', 1),
 ('s9jbQyCn2p_SDc7o55GXRw', 147),
 ('sHHpnIRuJkp-5Np6PQ4e5Q', 1),
 ('sJTmnm78JOgxRBpHr2teuw', 3),
 ('sPNPi8fInPGtniCPMXMblQ', 5),
 ('seXHR-XHIqF5X3axN2drjQ', 2),
 ('svZrzlZIjOJBKdFhMEmehg', 1),
 ('svrWS2e0aOL7B1u3fOcvoQ', 2),
 ('sypHNin7YGDEat_L6-Hzig', 4),
 ('t4kU5KO1uYOtvRXdJer70Q', 7),
 ('t6eNIzThY2QCarVZdtmkGw', 25),
 ('tJpyJ4uhDwmYpVFy0k-Bjg', 25),
 ('tRnxVotxT-pT7GKaPoR7zw', 1),
 ('tSQpCqeRuOvA9E0o89wduw', 5),
 ('ta9DBjugTF7Jy_nVMd8s4g', 7),
 ('tuwNhETTs9WFatVXPcP1SQ', 25),
 ('uExhxBa76QryLd_3qkG-kg', 2),
 ('uIRRq9aqnEq6DOMVao67eA', 4),
 ('uKN_dJ0SM9Nk_KfD_HUswQ', 10),
 ('uTlm7ii9bq4_-75yVLICqg', 14),
 ('uU1Q8IK3dyQ6HGvdtlwC-w', 1),
 ('ueN0I_0zG_TG7z7NGpvnrw', 1),
 ('ug_RSE_L_8SFfNWTbxo_Vg', 13),
 ('uix2qEvtkof_YxggsW3exg', 1),
 ('us4aFqTJJ4P6kXDx43mtDA', 4),
 ('uzUFY379yGYG5Toc1ijsug', 1),
 ('v6S-VtaJMUv1Afty00kcdw', 1),
 ('vGhzeksCqgjzdNQ0Lg9BIg', 2),
 ('vJb0aClhkbahYClMiApWWw', 1),
 ('vSMD05YBjEfzGmt1dB1H-g', 1),
 ('vX9Z8NmZ3iyzCuXJYipgjA', 1),
 ('vzbNA77ZO-Cz8tYX-MyEIQ', 1),
 ('w4XTtdMVWwOZRw0raNe0pw', 4),
 ('w4qVJG-WbXJz0DInvY87EA', 1),
 ('w8CeJFu6yy051tugtExlDA', 1),
 ('w8xU5z_-yCXspCfB5bWTJw', 19),
 ('wAQJFyAB2sYeS8cEoFeXOA', 1),
 ('wFcOaoRV2KPntek9QDhSJQ', 2),
 ('wLwcr330fiyuochwIK_3SA', 1),
 ('waCAfMaGB8xM_yWwrBm_Pg', 9),
 ('wannqVaXzQn9WVhdYAyFqw', 1),
 ('wdnhyW4nIZTQprkXhk0ECg', 7),
 ('wi0JBHoHNagQtac63jksZw', 1),
 ('wxFVwvMci9R-fZwCkwp-AQ', 1),
 ('wxWL5jqCx_-It3sceLVPyw', 1),
 ('x2_33iv9KZY29qT06iyNrA', 4),
 ('xEk1g_QugUX88E09xcDUgQ', 2),
 ('xJEbA3Dwldz_twXsHNaJhA', 23),
 ('xZBNbZXta7GHcjOnMajm0w', 1),
 ('xa5fAUYVo75UTZKH0m3Abw', 24),
 ('xrmJl6GJdFx7j66Zqt052g', 3),
 ('y-C04vb1QIH68hMjdB7i_w', 1),
 ('y-C2dsakFYXpXnygsRTsRA', 8),
 ('yAGp63lksMlTi2pkllU5xA', 4),
 ('yWQPNnf9cI_N8ORWQSz0PA', 1),
 ('yWoDd6lFZJJM3FJk0o3uGg', 2),
 ('ypHSYOHBvurGgxDo8E03-g', 3),
 ('yplADEOiHhmFGyCog6McqQ', 5),
 ('yy6sSbs8lNJWp5W0ySd6nA', 1),
 ('z4m_PkHwnzyHYvA93ugHfg', 1),
 ('zAnJ7Vepune8zCQLgOs0Gg', 1),
 ('zDuEnebYMoAhI44U_Ef0Bw', 2),
 ('zEiYkOxDzMEQCAHzEB3Yyw', 1),
 ('zKPPC6mKU29KMWRp-IldDQ', 1),
 ('zTn90jWKmFW65x5U97bCVQ', 2),
 ('zhGXBDzTsQeyOypgoo3AXw', 10),
 ('zjR0Ym-jxNhVk6_MYfQ-jg', 2),
 ('zzW90wUlJROAQfAVSo0XyA', 1)]

## Measure Relevance of Recommendations 

To measure relevance of our recommendations, we'll look at our input users type of business visted versus the types of businesses recommended. We can measure relevance through the cosine similarity of the business categories for our input user and the recommended businesses for our user.

In [94]:
# Calculate cosine similarity between two vectors 
import numpy as np
def cossim(v1, v2):
    return np.dot(v1, v2) / np.sqrt(np.dot(v1, v1)) / np.sqrt(np.dot(v2, v2))

In [96]:
#tokenize and run our word2vec model on the input users's business categories column
input_user_categories_token = regexTokenizer.transform(input_user_data)

input_user_vectors = model.transform(input_user_categories_token)

In [97]:
#return Pandas Dataframe
input_user_vectors_pandas = input_user_vectors.toPandas()

#sort the Dataframe by date
input_user_vectors_pandas = input_user_vectors_pandas.sort_values(by = "date", ascending = False)

In [103]:
input_user_vectors_pandas.head()

,user_id,business_id,date,categories,categories_token,categories_vector
91,Lu4-NKrpJbSBpUcZPogovg,lOHzmSU3D4Pffc0lcUI3lg,2020-09-13 19:02:44,"American (Traditional), Restaurants, Barbeque,...","[american, traditional, restaurants, barbeque,...","[-0.057390776276588444, -0.32251776829361917, ..."
84,Lu4-NKrpJbSBpUcZPogovg,6Ys2XaZlp5V_TobupYSfcQ,2020-09-08 20:57:59,"Obstetricians & Gynecologists, Health & Medica...","[obstetricians, gynecologists, health, medical...","[-0.1618240050971508, 0.338081955909729, -0.04..."
88,Lu4-NKrpJbSBpUcZPogovg,MG57MDjNvQ1lJ1uxHEAKxg,2020-08-22 19:51:10,"Day Spas, Beauty & Spas, Nail Salons","[day, spas, beauty, spas, nail, salons]","[0.2256332275768121, 0.17422958835959435, 0.08..."
40,Lu4-NKrpJbSBpUcZPogovg,ih_MxWyh3OswxzG857v6TQ,2020-08-08 21:22:47,"Barbeque, Automotive, Fast Food, Restaurants, ...","[barbeque, automotive, fast, food, restaurants...","[0.12878134420939855, -0.4072647733347756, 0.2..."
44,Lu4-NKrpJbSBpUcZPogovg,a6Mp8OCNA8IubxHUxILhwg,2020-08-08 18:41:46,"Tex-Mex, Restaurants, Mexican","[tex, mex, restaurants, mexican]","[-0.12736140144988894, -0.3960172804072499, 0...."

In [101]:
recs.head()

,business_id,business_name,categories,latitude,longitude,new_user_id,input_user_rating,new_user_rating,new_user_new_business_rating,abs_of_col,categories_vector,distance_from
1051,-AMbae1vfc9DidQrI9q27w,Stars In Your Eyes Optometry,"Eyewear & Opticians, Laser Eye Surgery/Lasik, ...",30.269877,-97.742975,m2M9qvF1joFKisTeb7NRQw,3.0,3.0,5.0,0.0,"[-0.09221282415091991, 0.10586612783372402, 0....",0.047027
2751,ZJFIDLUiZ2Vs0NTj0pGVfg,Perry's Steakhouse & Grille - Downtown Austin,"Seafood, Steakhouses, Restaurants, American (N...",30.269620,-97.743410,-e8XaCNfSHYzIy7YFATXFA,5.0,5.0,5.0,0.0,"[0.141895323193499, -0.16145237694893563, 0.05...",0.071507
1178,E8aCB-WjiXlTgUJYo3OMHQ,Cuba 512,"Cuban, Caribbean, Restaurants",30.271252,-97.741946,eRPsGOd1VE7lF6pRCMVWuw,1.0,1.0,5.0,0.0,"[-0.02844127764304479, -0.05267608786622683, 0...",0.074263
995,0lgGW93HYeVqrTTx9d3gUA,Chi'Lantro,"Barbeque, Street Vendors, Food, Food Stands, K...",30.270635,-97.741542,NHuLFl_eDxtXV1RLVOV-Tg,4.0,4.0,4.0,0.0,"[-0.23380851248900095, -0.5317708517735202, 0....",0.080864
462,fTqdzwU5A7A5fODHGnBqlQ,Total Men's Primary Care - Downtown,"Beauty & Spas, Health & Medical, Medical Cente...",30.270362,-97.741458,dADe6pGW1OaYBWQWeIHbxg,5.0,5.0,5.0,0.0,"[-0.0032554444144753847, 0.3259258436806062, 0...",0.086711

Let's check that our word embeddings on the categories column is working well by finding the cosine similarity between a couple of sample vectors.

In [111]:
input_user_vectors_pandas['categories'][84]

'Obstetricians & Gynecologists, Health & Medical, Doctors'

In [117]:
recs['categories'][462]

'Beauty & Spas, Health & Medical, Medical Centers, Doctors, Family Practice, Weight Loss Centers, Laser Hair Removal, Hair Removal'

In [116]:
cossim(input_user_vectors_pandas['categories_vector'][84], recs['categories_vector'][462])

0.8179628485252962

In [119]:
input_user_vectors_pandas['categories'][91]

'American (Traditional), Restaurants, Barbeque, Steakhouses'

In [120]:
cossim(input_user_vectors_pandas['categories_vector'][91], recs['categories_vector'][462])

-0.06000090634718217

We see a high cosine similiarty between two health realted businesses and a low cosine similarity between the health related service and the BBQ restaurant. Looks like our word2vec model has done a nice job of finding the relationshiop between the businesses categoires.

To get a feel for the relevance of all of the recommendations, we'll try to putting all of the categories for our input user's rated businesses and recommended businesses into two large vectors and compare similarity.

In [125]:
#create large vector for input user and recommendations on categories
v1 = input_user_vectors_pandas.categories.str.cat(sep=' ')
v2 = recs.categories.str.cat(sep=' ')

In [127]:
#return to Pyspark dataframe to use on word2vec
v1_df = spark.createDataFrame([v1], "string").toDF("categories")
v2_df = spark.createDataFrame([v2], "string").toDF("categories")

In [128]:
#get vector representation of each
v1_word2vec = model.transform(regexTokenizer.transform(v1_df))
v2_word2vec = model.transform(regexTokenizer.transform(v2_df))
v1_word2vec = v1_word2vec.toPandas()
v2_word2vec = v2_word2vec.toPandas()

In [129]:
#compare with cosine similiarty
cossim(v1_word2vec['categories_vector'][0], v2_word2vec['categories_vector'][0])

0.8978640496752872

Overall, it appears the recommended businesses align with the input user's history in terms of similarity.

What if we know the type of business a user needs a recommendation for? We can now also sort our recommendations by similiarty to a type of business.  

As an example, let's find the most similar businesses to a users most recent review from their list of recommended businesses.

In [135]:
print("The categories of the input users most recent review: {}".format(input_user_vectors_pandas['categories'][0]))

The categories of the input users most recent review: Thai, Restaurants, Food, Food Trucks

In [130]:
track_sim = []
v2 = input_user_vectors_pandas['categories_vector'][0]
for vector in recs['categories_vector']:
    track_sim.append(cossim(v1 = vector, v2 = v2))

In [131]:
recs['similarity'] = track_sim

In [133]:
recs.sort_values(by = "similarity", ascending = False).head()

,business_id,business_name,categories,latitude,longitude,new_user_id,input_user_rating,new_user_rating,new_user_new_business_rating,abs_of_col,categories_vector,distance_from,similarity
1246,XZb-K_pP8Roz8WIG2hPFEg,Tuk Tuk Thai Cafe,"Thai, Restaurants, Food",30.215908,-97.796670,SneLjEnBq-sZNQrXc0ExlQ,5.0,5.0,5.0,0.0,"[-0.45205954710642493, -0.4202902875840664, 0....",4.952276,0.937396
2960,vuOfLg269Rr4-moMAidLqg,Veracruz All Natural,"Food, Restaurants, Food Trucks, Mexican",30.231436,-97.788077,s9jbQyCn2p_SDc7o55GXRw,4.0,4.0,5.0,0.0,"[-0.24607874490320683, -0.42526403442025185, 0...",3.815392,0.842530
2582,tHv6_4DKOV8sZnlvTrCN9Q,Al Pastor,"Food Trucks, Restaurants, Mexican, Food",30.242096,-97.729973,Zf66IDXGUlRdKS4fwzARIw,4.0,4.0,5.0,0.0,"[-0.24607874490320683, -0.42526403442025185, 0...",2.110721,0.842530
353,btqvmsmX5Phgr1A0jH6j0w,LUV Thai Cuisine,"Restaurants, Thai",30.230298,-97.815657,eRPsGOd1VE7lF6pRCMVWuw,5.0,5.0,5.0,0.0,"[-0.4505927413702011, -0.411759490147233, 0.14...",5.153585,0.842305
362,xFgIiLmJVCKqKX8Ra_ZNQQ,Chi'Lantro,"Korean, Restaurants, Food, Asian Fusion, Barbe...",30.394372,-97.720157,jA8QxEykYOAwJCLJWsV24A,5.0,5.0,5.0,0.0,"[-0.3906800467520952, -0.5517844804562628, 0.2...",8.655685,0.810751

The top 5 recommended businesses are now all Thai food or food truck related businesses.

This exercise can be easily repeated with a users past n reviews to find new businesses to recommend that are highly relevant to our user's review history.